<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
  </head>
  <body>
    <header th:replace="layout :: logged-out"></header>
    <form th:method="post" th:object="${user}">
      <label for="userName">UserName</label>
      <input
        type="text"
        placeholder="Enter the UserName"
        id="userName"
        name="userName"
      />
      <label for="passWord">Password</label>
      <input
        type="password"
        placeholder="Enter the Password"
        id="password"
        name="password"
      />
      <input type="submit" value="Login" />
    </form>
  </body>
</html>
