<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head th:replace="layout :: site-head"> </head>
  <body>
    <h1>Create Your Post</h1>

    <form th:object="${post}" th:action="@{/post/create}" th:method="post">
      <div>
        <label for="postTitle">Title :</label>
        <input type="text" tabindex="0" id="postTitle" name="title" />
      </div>
      <div>
        <label for="postBody">Body:</label>
        <textarea tabindex="0" id="postBody" name="body"></textarea>
      </div>

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
