<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head th:replace="layout :: site-head"> </head>
  <body>
    <header th:replace="layout :: logged-out"></header>
    <h1>Technical Blogs</h1>
    <main id="posts">
      <post th:each="post : ${posts}">
        <h2 th:text="${post.getTitle()}"></h2>
        <em>Posted on :: </em>
        <span
          th:text="${#dates.format( post.getCreatedDate(),'dd-MM-yyyy')}"
        ></span>
        <p th:text="${post.getBody()}"></p>
      </post>
    </main>
  </body>
</html>
