<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head th:fragment="site-head">
    <title>Technical MVC Blog</title>
  </head>
  <body>
    <header th:fragment="logged-out" th:remove="tag">
      <header class="layout-buttons">
        <a href="users/login.html" th:href="@{users/login}">Login</a>
        <span> | </span>
        <a href="users/registration.html" th:href="@{users/registration}">
          Registration
        </a>
      </header>
    </header>
    <header th:fragment="logged-in" th:remove="tag">
      <header class="logged-out" th:action="@{users/logout}">
        <form method="post">
          <input type="submit" value="Logout" />
        </form>
      </header>
    </header>
  </body>
</html>
